/* Pou쮂셨치me intuitivn칤 v칳po캜et rozm캩r콢 prvk콢. */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.homepage .container {
  flex: 1;
}

.container {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

/* Tmav칳 mot칤v pre Barborku */
.dark-theme {
  background-color: #000;
  color: #fff;
}

/* Svetl칳 mot칤v pre 맚캩p치nku */
.light-theme {
  background-color: #fff;
  color: #000;
}

.dark-theme .btn {
  border-color: #fff;
  color: #fff;
}

.light-theme .btn {
  border-color: #000;
  color: #000;
}


.shadow-custom {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2), 0 0 0 5px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}
.shadow-custom:hover {
  transform: scale(1.05);
}

/* Scena z uvodnej stranky */



.scene {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url('imgs/grassy_field_1_a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  margin-top: 2rem;
  /* border-radius: 1rem; */
}

/* 游냤 Ps칤k so sprite anim치ciou */
.dog {
  position: absolute;
  bottom: 0;
  left: -60px;
  width: 60px;
  height: 60px;
  background-image: url('imgs/dog-sprite.png'); /* cesta k tvojmu sprite */
  background-repeat: no-repeat;
  animation:
    dogRun 6s linear infinite,
    dogSprite 1s steps(6) infinite;
}

/* Pohyb sprava do쬬va */
@keyframes dogRun {
  0% {
    left: -60px;
  }
  100% {
    left: 100%;
  }
}

/* Sprite anim치cia (napr. 6 frameov, ka쬯칳 60px) */
@keyframes dogSprite {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -360px 0;
  }
}

/* 游눨 Hovienka */
.poop {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('imgs/poop.png'); /* cesta k obr치zku hovienka */
  background-size: contain;
  background-repeat: no-repeat;
  animation: dropPoop 2s ease-in forwards;
}

@keyframes dropPoop {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(120px);
    opacity: 0;
  }
}

/* zvuk */

.sound-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.sound-toggle img {
  width: 100%;
  height: auto;
}


.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #555;
}